{% extends 'base.html' %} 
{% block meta %}
<title>Todolist</title>
{% endblock meta %} 

{% block content %}
<body style="background: #fff4f8;">
  <h1>Let's Add your Task!</h1>
  <h2>{{username}}</h2>
<form method="POST" action="">
  {% csrf_token %}
  <table>
    <tr>
      <td>Judul:</td>
      <td>
        <input
          type="text"
          name="title"
          placeholder="Title"
          class="form-control"
        />
      </td>
    </tr>

    <tr>
      <td>Deskripsi:</td>
      <td>
        <input
          type="text"
          name="description"
          placeholder="Description"
          class="form-control"
        />
      </td>
    </tr>

    <tr>
      <td></td>
      <td><input class="btn submit_btn" type="submit" value="Submit" /></td>
    </tr>
  </table>

  {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
{% endif %}
</form>
</body>
{% endblock content %}