{% extends 'base.html' %} 

{% block meta %}
<title>Login</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% endblock meta %} 

{% block content %}
<body class="h-100" style="background-image: url(https://i.pinimg.com/originals/98/3a/7a/983a7aa85688e14afd6fe2d7cc14f682.gif); background-repeat: no-repeat; background-size: cover; background-position: center; height: 100%;">
  <div class="container h-100" style="background-color:#fff;border-radius: 2rem; margin-top: 10%; width:50%; height: 50%; box-shadow: 10px 10px 100px rgb(166, 166, 166);">
        <div class="row h-100 justify-content-center align-items-center" style="margin:4%;">
            <div class="col-10">
              <!-- Form -->
              <form class="form-example" action="" method="post" style="padding:4%">
                {% csrf_token %}
                <b>
                  <h1 ALIGN="center">Welcome to Your Personal Task Manager!</h1>
                </b>
                <p class="description" ALIGN="center">Login disini untuk membuat dan memantau tugasmu</p>

                {% if messages %}
                    {% for message in messages %}
                        <p class="messsage" ALIGN="center" style="color:red">{{ message }}</p>
                    {% endfor %}
                {% endif %}   

                <!-- Input fields -->
                <div class="form-group" style="margin-top:4%;">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control username" id="username" placeholder="Username..." name="username">
                </div>


                <div class="form-group" style="margin-top:4%;">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control password" id="password" placeholder="Password..." name="password">
                </div>

                <button type="submit" class="btn btn-primary btn-customized" style="margin-top:4%;">Login</button>

                <p style="margin-top:4%;">
                  Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
                </p>
              </form>
      <!-- Form end -->
            </div>
        </div>
    </div>
</body>
{% endblock content %}

