{% extends 'base.html' %} 
{% block meta %}
<title>Todolist</title>
{% endblock meta %} 

{% block content %}
<body>
  <div>
    <h1>To-Do List</h1>
    <h2>Current user: {{username}}</h2>
    {% if messages %}
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    {% endif %}

    <div>
      <button>
        <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
      </button>
      <button>
        <a href="{% url 'todolist:logout' %}">Logout</a>
      </button>
    </div>
  </div>

  <div>
    {% if todo %}
    <table class="table-border">
      <tr>
        <th class="table-border">Created at</th>
        <th class="table-border">Title</th>
        <th class="table-border">Description</th>
        <th class="table-border">Status</th>
        <th class="table-border" colspan="2">Action</th>
      </tr>
      
      {% for task in todo %}
      <tr>
        <td class="table-border">{{task.date}}</td>
        <td class="table-border">{{task.title}}</td>
        <td class="table-border">{{task.description}}</td>
        <td> {% if task.is_finished %} 
          Completed
          {% else %} 
          Pending
          {% endif %}
        </td>
        <td> 
          <button>
            <a href="{% url 'todolist:task_status' task.pk %}">Change Status</a>
          </button> 
        </td>
        <td> 
          <button>
            <a href="{% url 'todolist:delete_task' task.pk %}">Delete Task</a>
          </button> 
        </td>
      </tr>

    {% endfor %}
    </table>
    {% else %}
    {% endif %}
  </div>
</body>
{% endblock content %}